.characterCard {

  background-color: white;
  z-index: 1;
  width: 18rem;
  //border: 1px solid hsl(240, 61%, 92%);
  border-radius: 8px;
  box-shadow: 0px 0px rgb(255, 255, 255);
  transition: transform 0.3s ease, box-shadow 0.3s ease;
}

.characterCard:hover {
  z-index: 5;
  transform: translateZ(-100px);
  transform: translateY(-10px);

  box-shadow: 15px 15px 10px rgba(150, 150, 150, 0.5);

}
