.timebox {
  position: fixed; /* Keeps it in place when scrolling */
  top: 15px; /* Positions it near the top */
  right: 15px; /* Positions it near the right */
  background-color: white;
  padding: 0.75rem;
  border: 1px solid #170a1c;
  border-radius: 8px;
  z-index: 1000; /* Ensures it's above other elements */
}

.hitmissbox {
  display: flex;
  justify-content: end;
  position: fixed;
  z-index: 10;
}
