@import 'leaflet/dist/leaflet.css';
@import 'leaflet.markercluster/dist/MarkerCluster.Default.css';
$primary-color: #e8d6cb;
$secondary-color: #d0ada7;
$tertiary-color: #ad6a6c;
$fourth-color: #5e1d0d;
$fifth-color: #211103;
// #root {
//   height: 100vh;
// }
.leaflet-container {
  height: 100vh; // Full screen height
  width: 100%; // Full width of the container
}
// .mapContainer {
//   display: flex;
//   justify-content: flex-end;
//   height: 500px;
//   width: 500px;
// }
.clusterIcon {
  height: 3rem;
  width: 3rem;
  border-radius: 50%;
  background-color: whitesmoke;
  transform: translate(-15%, -15%);
  display: flex;
  justify-content: center;
  align-items: center;
  font-weight: 900;
  font-size: 1.5rem;
}
.customClusterIcon {
  background: none !important;
  border: none !important;
  box-shadow: none !important;
  text-align: center;
  color: $fourth-color; /* Customize text color if needed */
  font-weight: bold;
  font-size: 16px;
  line-height: 40px;
}
